<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
        <section id="general">
            <group id="locale">
                <field id="code_for_hreflang" translate="label" type="select" sortOrder="5" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Locale Code for hreflang Tags</label>
                    <source_model>Brandung\Seo\HrefLang\Model\Source\Locale</source_model>
                </field>
                <field id="hreflang_exclude_stores" translate="label" type="multiselect" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Exclude the following stores while generating hreflang Tags</label>
                    <source_model>Brandung\Seo\HrefLang\Model\Source\Store</source_model>
                </field>
                <field id="hreflang_default_store" translate="label" type="select" sortOrder="6" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default store for hreflang tags</label>
                    <source_model>Brandung\Seo\HrefLang\Model\Source\Store</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
